<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utte.module_video" >

    <application android:theme="@style/AppTheme">
        <activity
            android:name="com.utte.video.VideoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
